.login-container {
  margin-top: 50px;
}
      
.forgot-password {
  float: right;
  font-size: 80%;
  position: relative;
  top: -15px;
}

.sign-in-group {
  margin-bottom: 12px;
}

.sign-in-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sign-up-text {
  font-size: 85%;
}

